In [1]:
#6.5.2 create heatmaps for weather parameters

In [55]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2021-07-27 01:33:26,73.5069,80.5464,38.71,99,100,8.63
1,1,Vila Velha,BR,2021-07-27 01:30:00,-20.3297,-40.2925,69.75,88,40,3.44
2,2,Nikolskoye,RU,2021-07-27 01:33:26,59.7035,30.7861,60.03,73,6,3.89
3,3,Cidreira,BR,2021-07-27 01:33:26,-30.1811,-50.2056,62.28,98,100,8.41
4,4,Ushuaia,AR,2021-07-27 01:31:27,-54.8000,-68.3000,33.46,86,75,3.44

In [4]:
#One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal 
#number. 
#Check datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#6.5.3 get vacation criteria

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
17,17,Hamilton,US,2021-07-27 01:29:24,39.1834,-84.5333,80.82,65,1,0.00
18,18,Saint George,US,2021-07-27 01:32:03,37.1041,-113.5841,82.54,78,1,6.91
21,21,Naze,JP,2021-07-27 01:31:01,28.3667,129.4833,83.32,82,100,13.09
24,24,Vostok,RU,2021-07-27 01:33:30,46.4856,135.8833,85.32,58,100,4.18
33,33,Marawi,PH,2021-07-27 01:33:33,7.9986,124.2928,84.65,59,85,8.05
37,37,Gondanglegi,ID,2021-07-27 01:33:33,-7.7479,112.0132,83.41,60,73,10.09
38,38,Bengkulu,ID,2021-07-27 01:33:34,-3.8004,102.2655,81.30,61,18,2.19
46,46,Parrita,CR,2021-07-27 01:33:36,9.5201,-84.3225,80.98,84,100,2.53
48,48,Awbari,LY,2021-07-27 01:33:37,26.5921,12.7805,81.46,19,5,7.96
51,51,Grand Island,US,2021-07-27 01:33:38,40.9250,-98.3420,84.49,72,1,1.01

In [45]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [46]:
preferred_cities_df.count()

City_ID       132
City          132
Country       132
Date          132
Lat           132
Lng           132
Max Temp      132
Humidity      132
Cloudiness    132
Wind Speed    132
dtype: int64

In [52]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
17      Hamilton      US     80.82  39.1834  -84.5333
18  Saint George      US     82.54  37.1041 -113.5841
21          Naze      JP     83.32  28.3667  129.4833
24        Vostok      RU     85.32  46.4856  135.8833
33        Marawi      PH     84.65   7.9986  124.2928
37   Gondanglegi      ID     83.41  -7.7479  112.0132
38      Bengkulu      ID     81.30  -3.8004  102.2655
46       Parrita      CR     80.98   9.5201  -84.3225
48        Awbari      LY     81.46  26.5921   12.7805
51  Grand Island      US     84.49  40.9250  -98.3420

In [56]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [63]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [66]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
17,Hamilton,US,80.82,39.1834,-84.5333,Six Acres Bed & Breakfast
18,Saint George,US,82.54,37.1041,-113.5841,Best Western Plus Abbey Inn
21,Naze,JP,83.32,28.3667,129.4833,奄美ポートタワーホテル
24,Vostok,RU,85.32,46.4856,135.8833,
33,Marawi,PH,84.65,7.9986,124.2928,Derogongan Residence
37,Gondanglegi,ID,83.41,-7.7479,112.0132,Gg. Munasir Homestay
38,Bengkulu,ID,81.30,-3.8004,102.2655,Grage Hotel Bengkulu
46,Parrita,CR,80.98,9.5201,-84.3225,Beso del Viento
48,Awbari,LY,81.46,26.5921,12.7805,فندق أوباري
51,Grand Island,US,84.49,40.9250,-98.3420,Fairfield Inn & Suites by Marriott Grand Island

In [67]:
hotel_df.count()

City          132
Country       132
Max Temp      132
Lat           132
Lng           132
Hotel Name    132
dtype: int64

In [69]:
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [70]:
#Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [71]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [78]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [81]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))