In this activity, you are tasked with creating a DataFrame containing the rating of every airport in the top 100 metropolitan areas according to Google Users.

In [15]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import gkey

In [16]:
# Import cities file into the cities_pd DataFrame
cities_pd = pd.read_csv("../Resources/cities.csv")
cities_pd.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [13]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_pd['Latitude'] = ""
cities_pd['Longitude'] = ""
cities_pd['AirportName'] = ""
cities_pd['AirportRating'] = ""

cities_pd.head()

            City         State Latitude Longitude AirportName AirportRating
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [14]:
# create a params dict that will be updated with new city each iteration
params = {"key": gkey}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in cities_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    city = row['City']
    state = row['State']

    # update address key value
    params['address'] = f"{city},{state}"

    # TODO: make request
    cities_lat_lng = requests.get()
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # TODO: convert to json
    cities_lat_lng = 

    # TODO update cities_pd with Lat/Lng. Hint: `cities_pd.loc`
   

# Visualize to confirm lat lng appear
cities_pd.head()

SyntaxError: invalid syntax (<ipython-input-14-8ee8cfca5e14>, line 21)

In [ ]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "airport",
    "keyword": "international airport",
    "key": gkey
}

# TODO: Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv
cities_pd.to_csv("Airport_Output.csv")

# Visualize to confirm airport data appears
cities_pd.head(10)