## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(15)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hilo,US,80.33,moderate rain,19.73,-155.09,Hilo Hawaiian Hotel
1,4,Hithadhoo,MV,80.74,broken clouds,-0.60,73.08,Scoop Guest House
2,11,Salalah,OM,77.09,drizzle,17.02,54.09,HAMDAN PLAZA HOTEL SALALAH
3,15,Naukot,PK,83.25,overcast clouds,24.86,69.40,Danish Boot House
4,16,Hamilton,US,77.88,clear sky,39.18,-84.53,Six Acres Bed & Breakfast
5,24,Fortuna,US,77.47,overcast clouds,40.60,-124.16,Super 8 by Wyndham Fortuna
6,26,Mitsamiouli,KM,75.42,clear sky,-11.38,43.28,Foyer ADM
7,31,Saint Marys,US,79.23,clear sky,30.73,-81.55,Spencer House Inn
8,35,Wajima,JP,83.08,broken clouds,37.40,136.90,Wajiima Onsen Yashio
9,38,Mayo,US,82.13,clear sky,38.89,-76.51,Resorts Resource Group International
10,41,Naze,JP,83.32,broken clouds,28.37,129.48,奄美ポートタワーホテル
11,49,Tommot,RU,75.61,clear sky,58.96,126.29,Gostinitsa Tommot
12,59,Bathsheba,BB,81.21,scattered clouds,13.22,-59.52,Atlantis Hotel
13,61,Martinsburg,US,78.73,clear sky,39.46,-77.96,"Holiday Inn Martinsburg, an IHG Hotel"
14,64,Kristoni,GR,77.22,clear sky,40.96,22.86,Habitat Hotel

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc(["City"] == "Keti Bandar")
vacation_end = vacation_df.loc[]
vacation_stop1 = vacation_df.loc[]
vacation_stop2 = vacation_df.loc[] 
vacation_stop3 = vacation_df.loc[]

SyntaxError: invalid syntax (<ipython-input-20-9502e7b5bd2c>, line 6)

In [ ]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = 
end = 
stop1 = 
stop2 = 
stop3 =

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure